<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>CsgoStuff</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="content/other/icon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js" type="text/javascript"></script>
    <script src="script-vue.js" type="text/javascript"></script>
</head>

<body>

    <header>
        <button id="boutonhome" onclick="changementPage(0)">
            <img src="content/header/logo.png" alt="logo du site et bouton pour revenir à la premère page du site" />
        </button>
        <div id="tri_list">
          <input class="tri_nom tri-box" type="text" v-model="name" placeholder="name ...">
          <input class="tri_equipe tri-box" type="button" value="CT">
          <input class="tri_cout tri-box" type="number" name="" value="">
        </div>
    </header>
    <main>
        <div id="main" class="acceuil" style="display:grid">
            <div class="title">
                <p>Choose<br>Side</p>
            </div>
            <a id="boutonlistet">
                <button class="side side_t" onclick="changementPage(1)">
                    T
                </button>
            </a>
            <a id="boutonlistect">
                <button class="side side_ct" onclick="changementPage(1)">
                    CT
                </button>
            </a>
        </div>
        <div id="liste" style="display:none">
            <ul id="conteneur_item" class="conteneur_item">
                <li v-for='item in weapons' v-bind:class = 'item.team' @click='ajoutInventaire(item)'><img v-bind:src="item.source" v-bind:alt="item.label"> <div class="text_guns"><p> {{item.label}}</p><p class="money">{{item.price}} $</p> </div></li>

            </ul>
            <button class="view_inventory" onclick="masquer()">View inventory</button>
            <div id="inventory" style="display:none">
              <p>Inventory</p>
              <div id="inventory_list" class="inventory_list">
                <button v-show='list > 0' class="del_all" @click="toutSupprimer()">Delete All</button>
                <div class="guns_list" v-for="item in weapons" v-show="item.number > 0">
                  <span>{{item.number}}</span>{{item.label}}
                  <button class="del_guns" @click='del(item)'>Del</button>
                </div>
              </div>
              <div class="total">
                <p>Total : </p>
                <p class="somme_total money">
                  <span id="somme">{{cost}}</span>  $</p>
                </div>
              </div>
        </div>
    </main>
    <footer>
        <p class="signature transition">by edwbr</p>
        <a href="https://twitter.com/EdEnSueur"><img src="content/footer/logo_twitter.svg" class="twitter-logo" alt="lien vers le twitter de edwbr"/></a>
        <a href="https://www.behance.net/edwbr"><img src="content/footer/logo_behance.svg" alt="lien vers le behance de edwbr" /></a>
        <a href="https://www.twitch.tv/p4tt4te"><img src="content/footer/logo_twitch.svg" class="twitch-logo" alt="lien vers le twitch de edwbr" /></a>
    </footer>

</body>

</html>
